{% extends "cont-sidebar.html" %}

{% block inner_content %}

<div class="col-md-8 col-sm-8">
    <div class="row container-post">
        <div class="col-md-12">
			<h1 class="pull-left">{{object.nombre}}</h1>
			<a class="pull-right btn btn-danger" href="{% url 'denuncia-evento' object.slug %}">Denunciar</a>

        </div>
    	{% for evento in object.eventos %}
        <div class="col-md-12">
            <div class="post-container">
                <div class="post-content">
                    <div class="heading-title heading-small">
                      <h2><a href="{% url 'detalle-evento' object.slug evento.slug %}">{{evento}}</a></h2>
                    </div>
                    <div class="post-meta">
                      <span>By <a href="#" title="Posts by admin" rel="author">Admin</a></span>
                      <span>On September 11, 2014</span>
                      <span>In <a href="#">Story</a></span>
                    </div>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                    tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
                    quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
                    consequat...</p>
                    <div class="post-link">
                        <a href="{% url 'detalle-evento' object.slug evento.slug %}"><span>Read more</span></a>
                    </div>
                </div>
                <div class="post-atribut">
                    <div class="row">
                        <div class="col-md-4 col-sm-4 col-xs-4">
                            <a href="#"><span><i class="fa fa-heart"></i> 2000</span></a>
                        </div>
                        <div class="col-md-4 col-sm-4 col-xs-4">
                            <a href="#"><span><i class="fa fa-comments"></i> 400</span></a>
                        </div>
                        <div class="col-md-4 col-sm-4 col-xs-4">
                            <a href="#"><span><i class="fa fa-eye"></i> 2500</span></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
      	{% endfor %}
        <!-- break -->
    </div>
    <div class="row">
        <div class="col-md-12">
            <ul class="pager">
              <li class="previous disabled"><a href="#"><i class="fa fa-arrow-circle-o-left"></i> Older</a></li>
              <li class="next"><a href="#">Newer <i class="fa fa-arrow-circle-o-right"></i></a></li>
            </ul>
        </div>
    </div>
</div>

{% endblock %}
