{% extends "contenedor.html" %}
{% load thumbnail %}

{% block content %}
<section id="content">
  <div class="container">
    <div class="row">

    {% block inner_content %}

    {% endblock %}

        <div class="col-md-4 col-sm-4 sidebar">
            <div class="widget-sidebar">
                <h3>Buscar</h3>
                <form id="search" class="navbar-form search" role="search">
                    <input type="search" class="form-control input-lg" placeholder="Nombre">
                    <button type="submit" class="btn btn-danish btn-search"><i class="fa fa-arrow-right"></i></button>
                </form>
            </div>

            <div class="widget-sidebar widget_top-posts">
              <h3>Los más sucios</h3>
              <ul>
              	{% for politico in politicos %}
                <li>
                    <div class="post-wrapper">
                        {% thumbnail politico.imagen "70x70" crop="center" as im %}
                        <div class="post-img" style="background: url({{im.url}});"></div>
                        {% endthumbnail %}
                        <div class="post-text">
                            <div class="post-meta">
                                <span><em>Actualmente en </em> <a href="#" title="Ver todos los póliticos en {{politico.partido}}" rel="category tag">{{politico.partido}}</a></span>
                            </div>
                            <div class="heading-title">
                                <h2><a href="{% url 'detalle-politico' politico.slug %}">{{politico}}</a></h2>
                            </div>
                        </div>
                    </div>
                </li>
                {% endfor %}
              </ul>
            </div>

            <div class="widget-sidebar default_widget">
              <h3>Link</h3>
              <ul>
                <li><a href="#">Lorem ipsum dolor sit</a></li>
                <li><a href="#">Lorem ipsum sit</a></li>
                <li><a href="#">Lorem ipsum</a></li>
                <li><a href="#">Lorem ipsum dolor</a></li>
                <li><a href="#">Lorem ipsum dolor sit</a></li>
              </ul>
            </div>

            <div class="widget-sidebar widget_categories">
              <h3>Categories</h3>
              <ul>
                <li><a href="#">Design</a> (20)</li>
                <li><a href="#">Acessories</a> (32)</li>
                <li><a href="#">Love life</a> (12)</li>
                <li><a href="#">My Work</a> (21)</li>
                <li><a href="#">My Trip</a> (8)</li>
              </ul>
            </div>

            <div class="widget-sidebar widget_archive">
              <h3>Archives</h3>
              <ul>
                <li><a href="#">May 2014</a> (20)</li>
                <li><a href="#">April 2014</a> (32)</li>
                <li><a href="#">March 2014</a> (12)</li>
                <li><a href="#">February 2014</a> (21)</li>
                <li><a href="#">January 2014</a> (8)</li>
              </ul>
            </div>
            
        </div>
    </div>
  </div>
</section>
{% endblock %}